{% extends 'base2.html' %}
{% load bootstrap4 %}
{% block body %}
	 <section>
			<div id="page-wrapper" class="sign-in-wrapper">
				<div class="graphs">
					<div class="sign-in-form">
						<div class="sign-in-form-top">
							<h1>Password Reset Confirm</h1>
						</div>
						<div class="signin">

              <form method="post" class="form">
                  {% csrf_token %}
                  {% bootstrap_form form %}
                  {% buttons %}
                      <input type="submit" value="Reset Password">
                  {% endbuttons %}
              </form>

						</div>
					</div>
				</div>
			</div>

	</section>

{% endblock body %}
