{% extends 'base2.html' %}
{% load bootstrap4 %}
{% block body %}

	 <section>
			<div id="page-wrapper" class="sign-in-wrapper">
				<div class="graphs">
					<div class="sign-in-form">
						<div class="sign-in-form-top">
							<h1>Register</h1>
						</div>
						<div class="signin">
                        <form method="post" class="form">
                            {% csrf_token %}
                            {% bootstrap_form form %}
                            {% buttons %}
                                <input type="submit" class="btn btn-primary" value="Register">
                            {% endbuttons %}
                        </form>

						</div>
						<div class="new_people">
							<h2>You Have An Account</h2>
							<p></p>
							<a href="{% url 'login' %}">Login Now!</a>
						</div>
					</div>
				</div>
			</div>

	</section>

    {% endblock body %}
